In [10]:
import pandas as pd
from methods import scrape, add

nanterre = []

In [117]:
add(nanterre)

# Creating DataFrame and exporting to CSV

In [118]:
df = pd.DataFrame(nanterre, columns=[["tweets"]])
df.head()

                                              tweets
0  https://twitter.com/alv66n/status/167420601649...
1  https://twitter.com/lesinfosdetino/status/1674...
2  https://twitter.com/yankalash150981/status/167...
3  https://twitter.com/JGRM12055520/status/167420...
4  https://twitter.com/EweDalia92/status/16742057...

In [116]:
df.to_csv('nanterre.csv', header=True, index=False)

# Importing DataFrame from CSV

In [54]:
df2 = pd.read_csv('nanterre.csv')
df2.head()

                                              tweets
0  https://twitter.com/alv66n/status/167420601649...
1  https://twitter.com/lesinfosdetino/status/1674...
2  https://twitter.com/yankalash150981/status/167...
3  https://twitter.com/JGRM12055520/status/167420...
4  https://twitter.com/EweDalia92/status/16742057...